@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color:#212121;
  color: white;
}
.offcanvas-body {
  background-color: black;
  display: flex;
  flex-direction: column;
}

.profile-modal,
.modal-content {
  background-color: #212121;
  color: #f1f1f1;
  border-radius: 20px;
}

.home-content-container{
  height: 90%;
  position:fixed;
  overflow-y: scroll;
}

.home-card-container{
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content:space-evenly;
}

.video-card{
  background-color:#212121;
  width:25%;
  margin:1%;
  font-size:13px;
  text-align:center;
}
.video-card-title{
  font-size:14px;
}

.card-video-container{
  height:275px;
  width:100%;
}

.card-video{
  border-radius:25px;
  height:100%;
  width:100%;
  background-color:#212121;
}
.card-public{
  font-size:12px;
}

.video-card-dropdown{
  background-color:#212121;
  color:white;
  border:solid #212121 2px;
  font-size:12px;
}

.video-card-dropdown:focus{
  background-color:grey;
  color:white;
  border:solid #212121 2px;
  transition: .9s;
}

.video-card-dropdown:not(:focus){
  background-color:#212121;
  color:white;
  border:solid #212121 2px;
  transition: .9s;
}

.navbar {
  height: 70px;
  
}

.search-form-control {
  color: #f1f1f1;
  background-color: #212121;
  border-radius: 20px;
}

.search-form-control:hover, .search-form-control:focus {
  background-color: #212121;
  color: #f1f1f1;
}

.m-auto {
  width: 600px;
}
