@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #212121;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 70px;
}

.offcanvas-body {
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.offcanvas-title {
  background-color: #212121;
}

.offcanvas-btn,
.offcanvas-btn:hover {
  background-color: #FF0000;
}

.hamburger-btn {
  border: none;
  font-size: 30px;
  background-color: #212121;
}

.hamburger-btn:hover {
  background-color: #212121;
}

.home-content-container {
  height: 90%;
  position: fixed;
  overflow-y: scroll;
}

.home-card-container {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.video-card {
  background-color: #212121;
  width: 25%;
  margin: 1%;
  font-size: 13px;
  text-align: center;
  border: none;
}

.video-card-title {
  font-size: 16px;
}

.card-video-container {
  height: 275px;
  width: 100%;
}

.card-video {
  border-radius: 25px;
  height: 100%;
  width: 100%;
  background-color: #212121;
}

.card-public {
  font-size: 12px;
}

.video-card-dropdown {
  background-color: #212121;
  color: white;
  border: solid #212121 2px;
  font-size: 12px;
}

.video-card-dropdown:focus {
  background-color: grey;
  color: white;
  border: solid #212121 2px;
  transition: .9s;
}

.video-card-dropdown:not(:focus) {
  background-color: #212121;
  color: white;
  border: solid #212121 2px;
  transition: .9s;
}

.vid-card-link:hover {
  color: grey;
}

.m-auto {
  width: 600px;
}

.blue-btn {
  background-color: #3ea6ff;
  border-color: #3ea5ffee;
  color: black;
}

.red-btn {
  background-color: #FF0000;
  border-color: #ff0000d3;
}

.playlistModal {
  background-color: #212121;
  color: #f1f1f1;
}

.addBtn {
  background-color: white;
  color: #212121;
  border: none;
  display: flex;
  justify-content: flex-start;
}

.addBtn:hover {
  background-color: transparent;
}

.dropdown-item:focus {
  background-color: transparent;
}

.comment-card {
  color: black;
}
